* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #fff; */
}
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap");

body {
  color: #fff;
  font-family: "Prompt", sans-serif;
  overflow: hidden;
  height: 100vh;
}
header img {
  filter: brightness(40%);
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}


.fas {
  position: absolute;
  top: -20px;
  transform: scale(1.5);
  animation: down 4s linear forwards;
 


}

@keyframes down{
  
  to{
transform: translateY(105vh);
  }
}


h1 {
  display: flex;
  margin: 0px auto;
  margin-top: 200px;
  margin-bottom: -100px;
  font-size: 80px;
}
.container {
  display: flex;
  justify-content: space-around;
  z-index: 4;
  flex-direction: column;
}
.times {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10rem auto;
}

.column {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
  font-size: 50px;
}

.day::after {
  content: "day";
}
.hours::after {
  content: "hours";
}
.minut::after {
  content: "minute";
}
.second::after {
  content: "second";
}

@media (min-width: 0px) and (max-width: 800px) {
  .times {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
  }
  .column {
    font-size: 20px;
    font-family: "Prompt", sans-serif;
  }
  .title {
    margin-top: 200px;
    margin-bottom: 50px;
    font-size: 30px;
  }
  header img {
      width: 100vw;
      height: 100vh;
  }
  header {
    display: flex;
    width: 80vw;
    overflow: hidden;
    justify-content: space-around;
   
  }
}
